{% extends "index.html" %}
{% block content %}
   <div class="row">
    <div class="col-sm-12">
        <h1>Help fund a better future for your children!</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>At a time when technology is changing demand for different kinds of skills, and evolving patterns of work mean that people are more likely to pursue several careers during their working lives, it is crucial that our education system enables people to upskill and retrain over their lifetimes. As part of our dynamic industrial strategy, lifelong training will deliver productivity and growth to the whole economy while transforming the lives of individuals and communities.</p>
        <p>Working lives and the skills our economy needs are changing rapidly, governments have the responsibility to make lifelong learning a reality by giving everyone the opportunity to access education throughout their lives.</p>
        <p>I will make sure schools are properly resourced by reversing the Republican cuts and ensuring that all schools have the resources they need. I will introduce a fairer funding formula that leaves no school worse off while redressing the historical underfunding of certain schools. I will also invest in new school buildings, including the phased removal of asbestos from existing schools</p>
    </div>
        <!-- Resources -->
                <div class="col-sm-6">
                    <div class="chart-wrapper" data-step=" 2 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Resources Type
                        </div>
                        <div class="chart-stage">
                            <div id="resource-type-row-chart-or"></div>
                        </div>
                    </div>
                </div>
                <!-- Resources -->
    </div>

    <div class="row">
        <div class="col-sm-12 cta-bar">
            <h4 class="pull-right"><a class="cta-text" href="{{ url_for('comparison') }}">Click here to donate to my campaign and support s better future for our children</a></h4>
        </div>
    </div>
{% endblock %}