{% extends "index.html" %}
{% block content %}
   <div class="row">
    <div class="col-sm-12">
        <h1>Help fund a better future for your children!</h1>
        <p>Oregon is one of the poorest performing states in the US in terms of total donations made to educational institutions</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>In comparison to the national average Oregon only received XXX donations between XXX and YYYY. This pales in comparison to NEw York where XXX number of donations we made</p>
    </div>
        <!-- Resources -->
                <div class="col-sm-6">
                    <div class="chart-wrapper" data-step=" 2 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Resources Type
                        </div>
                        <div class="chart-stage">
                            <div id="resource-type-row-chart-or"></div>
                        </div>
                    </div>
                </div>
                <!-- Resources -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>Call to Action</p>
            <button>Donate</button>
        </div>
    </div>
{% endblock %}