
<!-- Grade level -->
       <div class="col-sm-6" data-step="8" data-intro="Which grades the donations go to" style="font-weight: normal" data-position="left">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Grade Level
               </div>
               <div class="chart-stage">
                   <div id="grade-level-row-chart"></div>
               </div>
           </div>
       </div>
       <!-- Donations by grade -->
       <div class="col-sm-3" data-step="9" data-intro="How much was donated per grade" style="font-weight: normal" data-position="left">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Donations by Grade
               </div>
               <div class="chart-stage">
                   <div id="total-donations-by-grade-row-chart"></div>
               </div>
           </div>
       </div>
       <!-- Donations by grade -->
