{% extends "index.html" %}
{% block content %}
   <div class="row">











       <!-- Students Reached -->
       <div class="col-sm-2" data-step="10" data-intro="Number of students reached" style="font-weight: normal" data-position="right">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Number of students reached
               </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="number-students-reached-nd"></div>
               </div>
           </div>
       </div>
       <!-- Students Reached -->


   </div>
{% endblock %}

