{% extends "index.html" %}
{% block content %}
	<div class="jumbotron">
		<div class="container-fluid">
			<h1>Darren Francis</h1>
			<p>Investing in our children's future</p>
            <p>Today’s students are Oregon’s greatest natural resource. We as Oregonians must invest in our public schools so the next generation can reach its potential. Join us — our state’s future depends on it!</p>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-12 cta-bar">
            <h4 class="pull-right"><a class="cta-text" href="{{ url_for('funding') }}">Find out more about my campaign &gt</a></h4>
        </div>
    </div>
{% endblock %}