<!DOCTYPE html>
<html>
<head>
    <title>Darren Francis: Your Senator for Oregon</title>
    <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}">

 </head>
<body class="application">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" href="/">Darren Francis: Your Senator for Oregon</a>
           </div>
       </div>
    </div>
    <div class="container-fluid">
           <ul class="nav nav-tabs">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('funding') }}">Education funding in Oregon</a></li>
              <li><a href="{{ url_for('comparison') }}">Struggling vs other states</a></li>
              <li><a href="{{ url_for('reach') }}">Impact on Schools</a></li>
              <li><a href="{{ url_for('future') }}">What about the future?</a></li>
           </ul>
    </div>
    <div  id="outer" class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
    {% if url_name == 'funding' %}
    <script src="{{ url_for ('static', filename='js/funding.js')}}"></script>
    {% endif %}
    {% if url_name  == 'comparison' %}
    <script src="{{ url_for ('static', filename='js/comparison.js')}}"></script>
    {% endif %}
    {% if url_name == 'reach' %}
    <script src="{{ url_for ('static', filename='js/studentsreached.js')}}"></script>
    {% endif %}
    {% if url_name == 'future' %}
    <script src="{{ url_for ('static', filename='js/future.js')}}"></script>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
</body>
</html>