{% extends "index.html" %}
{% block content %}

<!-- Metric 1 -->
       <div class="col-sm-2" data-step="6" data-intro="Total number of donations" style="font-weight: normal" data-position="right">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Total Number of Donations
               </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="number-projects-nd"></div>
               </div>
           </div>
       </div>
       <!-- Metric 1 -->

       <!-- Metric 2 -->
       <div class="col-sm-2">
           <div class="chart-wrapper" data-step="7" data-intro="Total amount donated" style="font-weight: normal" data-position="left">
               <div class="chart-title">
                   Total Donations in USD
               </div>
               <div class="chart-stage">
                   <div id="total-donations-nd"></div>
               </div>
           </div>
       </div>
       <!-- Metric 2 -->

        <!-- Oregon donations -->
        <div class="col-sm-2">
           <div class="chart-wrapper" data-step="7" data-intro="Total amount donated" style="font-weight: normal" data-position="left">
               <div class="chart-title">
                   Total Donations in USD
               </div>
               <div class="chart-stage">
                   <div id="ore-donations-nd"></div>
               </div>
           </div>
        </div>

{% endblock %}