<div class="row">
    <div class="col-12">
        <h1>Underfunding of eductation in Oregon</h1>
        <p>Oregon is one of the poorest performing states in the US in terms of total donations made to educational institutions</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p>Oregon receives significantly less funding than most other US states</p>
    </div>
    <div class="col-6">
        <p>Insert graph here!</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>Call to Action</p>
        <button>Donate</button>
    </div>
</div>
{% endblock %}