{% extends "index.html" %}
{% block content %}
   <div class="row">
    <div class="col-sm-12">
        <h1>Money is not reaching our students</h1>
        <p>Oregon is one of the poorest performing states in the US in terms of total donations made to educational institutions</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>In comparison to the national average Oregon only received XXX donations between XXX and YYYY. This pales in comparison to NEw York where XXX number of donations we made</p>
    </div>
        <!-- Students Reached -->
       <div class="col-sm-3" data-step="10" data-intro="Number of students reached" style="font-weight: normal" data-position="right">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Number of students reached (OR)
               </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="number-students-reached-nd-or"></div>
               </div>
           </div>
       </div>
       <!-- Students Reached -->
        <!-- Students Reached -->
       <div class="col-sm-3" data-step="10" data-intro="Number of students reached" style="font-weight: normal" data-position="right">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Number of students reached (NY)
               </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="number-students-reached-nd-ny"></div>
               </div>
           </div>
       </div>
       <!-- Students Reached -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>Call to Action</p>
            <button>Donate</button>
        </div>
    </div>
{% endblock %}