{% extends "index.html" %}
{% block content %}
<div class="col-sm-8">
           <div class="row">

               <!-- Time Chart -->
               <div class="col-sm-12" data-step="1" data-intro="Number of donations/quarter 2002-2007" style="font-weight: normal" data-position="right">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Number of Donations
                       </div>
                       <div class="chart-stage">
                           <div id="time-chart"></div>
                       </div>
                   </div>
               </div>
               <!-- Time Chart -->

               <!-- Resources -->
               <div class="col-sm-6" data-step="2" data-intro="Resource type - what the donations were used for" style="font-weight: normal" data-position="right">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Resources Type
                       </div>
                       <div class="chart-stage">
                           <div id="resource-type-row-chart"></div>
                       </div>
                   </div>
               </div>
               <!-- Resources -->


               <!-- funding Pie -->
               <div class="col-sm-6" data-step="3" data-intro="Status of each donation" style="font-weight: normal" data-position="right">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Funding Status
                       </div>
                       <div class="chart-stage">
                           <div id="funding-chart"></div>
                       </div>
                   </div>
               </div>
               <!-- funding Pie -->

           </div>
       </div>
{% endblock %}